.btn-circle {
  background-color: #131318 !important;
  color: white;
  border: none;
}
.btn-circle:hover {
  background-color: #ff4240 !important;
}
.text-color {
  color: #13131899;
  font-family: "Manrope", sans-serif;
}
.sec-title-area h2 {
  font-family: "Manrope", sans-serif;
  color: #131318;
}

@media screen and (min-width: 320px) and (max-width: 600px) {
  .container {
    width: calc(100% - 24px) !important;
  }
  .sl-btn-control {
    top: 120px;
  }
  .btn-circle {
    font-size: 16px !important;
  }
  .carousel-item .text-lg {
    font-size: 18px;
  }
  .sec-title-area h2 {
    font-size: 22px;
  }
}
