.btn-circle {
  background-color: #131318 !important;
  color: white;
  border: none;
}
.btn-circle:hover {
  background-color: #ff4240 !important;
}
.text-color {
  color: #13131899;
  font-family: "Manrope", sans-serif;
}
.sec-title-area h2 {
  font-family: "Manrope", sans-serif;
  color: #131318;
}
.regi-btn {
  color: #fff;
  text-align: center;
  font-family: Manrope;
  font-size: 20px;
  font-weight: 700;
  border-radius: 8px;
  border: 1px solid #ff4240;
  background: #ff4240;
  padding: 10px 22px;
  float: left;
  margin-top: 24px;
}
.program h4 {
  color: #fff;
  font-family: Manrope;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.program p {
  color: #fff;
  font-family: Manrope;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
}
.card-content .rating p {
  margin-right: 16px;
}
.card-content .rating i {
  margin-right: 2px;
}
.img-body {
  width: 180px;
}
.card-content {
  width: calc(100% - 180px);
}
.card-content h2 {
  color: #131318;
  font-family: Manrope;
  font-size: 20px;
  font-weight: 800;
}
.card-content h4 {
  color: #ff4240;
  font-family: Manrope;
  font-size: 18px;
  font-weight: 800;
  line-height: 26px;
}
.rating .bi-star-fill {
  color: orange;
}
.grid {
  grid-template-columns: repeat(2, 1fr);
}
@media screen and (min-width: 320px) and (max-width: 600px) {
  .container {
    width: calc(100% - 24px) !important;
  }
  .sl-btn-control {
    top: 120px;
  }
  .btn-circle {
    font-size: 16px !important;
  }
  .carousel-item .text-lg {
    font-size: 18px;
  }
  .sec-title-area h2 {
    font-size: 22px;
  }
  .img-body {
    width: 100%;
  }
  .p-item {
    width: 100% !important;
    padding: 24px;
  }
  .card-content {
    width: 100%;
  }
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
