.btn-circle {
  background-color: #131318 !important;
  color: white;
  border: none;
}
.btn-circle:hover {
  background-color: #ff4240 !important;
}
.text-color {
  color: #13131899;
  font-family: "Manrope", sans-serif;
}
.sec-title-area h2 {
  font-family: "Manrope", sans-serif;
  color: #131318;
}
.regi-btn {
  color: #fff;
  text-align: center;
  font-family: Manrope;
  font-size: 20px;
  font-weight: 700;
  border-radius: 8px;
  border: 1px solid #ff4240;
  background: #ff4240;
  padding: 10px 22px;
  float: left;
  margin-top: 24px;
}
.program h4 {
  color: #fff;
  font-family: Manrope;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.program p {
  color: #fff;
  font-family: Manrope;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
}
@media screen and (min-width: 320px) and (max-width: 600px) {
  .container {
    width: calc(100% - 24px) !important;
  }
  .sl-btn-control {
    top: 120px;
  }
  .btn-circle {
    font-size: 16px !important;
  }
  .carousel-item .text-lg {
    font-size: 18px;
  }
  .sec-title-area h2 {
    font-size: 22px;
  }
}
