.btn-circle {
  background-color: #131318 !important;
  color: white;
  border: none;
}
.btn-circle:hover {
  background-color: #ff4240 !important;
}
.text-color {
  color: #13131899;
  font-family: "Manrope", sans-serif;
}
.sec-title-area h2 {
  font-family: "Manrope", sans-serif;
  color: #131318;
}
.regi-btn {
  color: #fff;
  text-align: center;
  font-family: Manrope;
  font-size: 20px;
  font-weight: 700;
  border-radius: 8px;
  border: 1px solid #ff4240;
  background: #ff4240;
  padding: 10px 22px;
  float: left;
  margin-top: 24px;
}
.program h4 {
  color: #fff;
  font-family: Manrope;
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.program p {
  color: #fff;
  font-family: Manrope;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
}
.card-content .rating p {
  margin-right: 16px;
}
.card-content .rating i {
  margin-right: 2px;
}
.img-body {
  width: 180px;
}
.card-content {
  width: calc(100% - 180px);
}
.card-content h2 {
  color: #131318;
  font-family: Manrope;
  font-size: 20px;
  font-weight: 800;
}
.card-content h4 {
  color: #ff4240;
  font-family: Manrope;
  font-size: 18px;
  font-weight: 800;
  line-height: 26px;
}
.rating .bi-star-fill {
  color: orange;
}
.grid {
  grid-template-columns: repeat(2, 1fr);
}
.contact {
  padding: 50px;
}
.contact p {
  color: rgba(19, 19, 24, 0.4);

  font-family: Manrope;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}
.contact h4 {
  color: #131318;
  font-family: Manrope;
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
}
.contact .call {
  background-color: #bced6d1a;
  padding: 32px 48px;
}
.contact .email {
  background-color: #fddd5f1a;
  padding: 32px 48px;
}
.contact .location {
  background-color: #629cf31a;
  padding: 32px 48px;
}
.from input {
  height: 64px;
}
.from input::placeholder,
.text-area textarea::placeholder {
  padding: 20px;
}
.from label {
  margin-bottom: 16px;
}
.from input,
.form textarea {
  background-color: rgba(19, 19, 24, 0.03);
  width: 100%;
  border-radius: 16px;
}
.text-area textarea {
  background-color: #13131808 !important ;
  width: 100%;
  border-radius: 16px;
}
.from {
  width: 100%;
}
.text-area {
}
.btn-group {
  width: calc(50% - 24px);
  display: inline-block;
  margin-right: 24px;
  float: left;
}
.btn {
  color: #fff;
  text-align: center;
  font-family: Manrope;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background-color: #ff4240;
  padding: 15px 24px;
  height: 57px !important;
}
.socail {
  padding: 34px;
  border-radius: 12px;
  background: rgba(19, 19, 24, 0.03);
  margin-top: 83px;
}
.socail h4 {
  color: #131318;
  text-align: center;
  font-family: Manrope;
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 24px;
}
.socail .social-icon {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
}
.footer {
  background: #131318;
}
.footer a,
.footer p {
  color: #ffffff99;
}
@media screen and (min-width: 320px) and (max-width: 600px) {
  .container {
    width: calc(100% - 24px) !important;
  }
  .sl-btn-control {
    top: 120px;
  }
  .btn-circle {
    font-size: 16px !important;
  }
  .carousel-item .text-lg {
    font-size: 18px;
  }
  .sec-title-area h2 {
    font-size: 22px;
  }
  .img-body {
    width: 100%;
  }
  .p-item {
    width: 100% !important;
    padding: 24px;
  }
  .card-content {
    width: 100%;
  }
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .contact {
    padding: 24px;
  }
  .contact .call {
    padding: 24px;
  }
  .contact .email {
    padding: 24px;
  }
  .contact .location {
    padding: 24px;
  }
  .from {
    margin-top: 24px;
  }
  .from .btn-group {
    width: 100%;
    margin-bottom: 24px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
